/build/
.dart_tool/
.packages
.idea/
/.vscode/
pubspec.lock
.DS_Store
*.iml
/.gradle/
/.flutter-plugins

# Ignore generated metadata and platform folders not required for this repo
.git_remotes.txt
.metadata
linux/
macos/
windows/
archive/
# Widget Preview related
.widget_preview/
